# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# IDE
# ==============================
.idea/
.vscode/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Data files
# ==============================
data/raw/*.csv
data/preprocessed/*.csv
data/features/*.csv
data/predictions/*.csv

*.xlsx

# ==============================
# Models
# ==============================
model/*.pkl
*.joblib

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db